.mainmenu {
    overflow: hidden;
    background-color: #2C2C2C;
}

.mainmenu-style {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.mainmenu-style li {
    float: left;
}

.mainmenu-style li a {
    display: block;
    color: rgb(201, 201, 201);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background: #2C2C2C;
}

.mainmenu-style li a:hover {
    /* background-color: #2c2c2c; */
    color: white;
}

.mainmenu-style li a.active {
    background-color: #222222;
    color: #fff;
  }